<div class="d-flex row mx-auto mb-3">
  <%= image_tag end_user.get_profile_image(70, 70), class: "rounded-circle col-sm-2 mr-3 align-self-center" %>
  <div class="d-flex flex-column bg-form col-sm-9 rounded p-3 align-self-center">
    <p class="h3"><strong><%= end_user.name %> </strong>さん</p>
    <p><%= end_user.self_introduction %></p>

    <% if current_admin %>
      <%= end_user.end_user_status %>
      <p><%= link_to "プロフィール編集", edit_admin_end_user_path %></p>
    <% elsif end_user.guest_end_user? %>
    <% else %>
      <% if end_user == current_end_user %>
        <%= link_to "プロフィール編集", edit_end_user_path, class: "text-link" %>
      <% else %>
        <% if current_end_user.following?(end_user) %>
          <p>
            <%= link_to "フォロー中", end_user_follow_relationships_path(end_user.id), method: :delete, class: "btn btn-success" %>
          </p>
        <% else %>
          <p>
            <%= link_to "フォローする", end_user_follow_relationships_path(end_user.id), method: :post, class: "btn btn-success" %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>