<div>
  <%= image_tag @illustration.end_user.get_profile_image(100, 100) %>
  <%= link_to admin_end_user_path(@illustration.end_user_id) do %>
    <%= @illustration.end_user.name %>さん
  <% end %>


  <%= link_to 'イラスト内容を編集する', edit_admin_illustration_path(@illustration), class: "btn btn-sm btn-success" %>


  <div>
    <% @illustration.challenged_images.each do |challenged_image| %>
      <%= link_to image_tag(challenged_image.variant(resize: '700x1000').processed), url_for(challenged_image) %>
    <% end %>
    <p><%= @illustration.created_at %></p>
  </div>

  <p><strong><%= @illustration.title %></strong></p>
  <p>
    <% if @illustration.theme.is_active == true %>
      <%= link_to admin_theme_path(@illustration.theme_id) do %>
        お題：<%= @illustration.theme.title %>
      <% end %>
    <% else %>
      挑戦したお題は削除されています
    <% end %>
  </p>
  <% @illustration_tags.each do |illustration_tag| %>
    <%= link_to search_tag_admin_homes_path(title: illustration_tag), method: :get do %>
      #<%= illustration_tag %>
    <% end %>
  <% end %>
  <p><%= @illustration.detail %></p>


    <p>
        <i class="fa-solid fa-heart"></i>
        <%= @illustration.favorites.count %>
    </p>

    <p>
        <i class="fa-solid fa-bookmark"></i>
        <%= @illustration.bookmarks.count %>
    </p>

  <div>
    <% @illustration.illustration_comments.each do |illustration_comment| %>
      <%= image_tag illustration_comment.end_user.get_profile_image(50, 50) %>
      <%= illustration_comment.end_user.name %> さん
      <%= illustration_comment.comment %>
      <%= illustration_comment.created_at %>
      <%= link_to '削除', admin_illustration_illustration_comment_path(illustration_comment.illustration, illustration_comment),
          method: :delete, class: "btn btn-sm btn-secondary" %>
    <% end %>
  </div>
</div>