<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-8 mx-auto">
      <div class="my-3 text-center">
        <h3 class="font-weight-bold mb-4">イラストを投稿する</h3>
      </div>
      
      <div class="bg-form rounded-lg px-4 py-4 pt-5">
        <%= form_with model: @illustration, local: true do |f| %>
          <div class="field form-group row justify-content-between mb-5 px-4">
            <label for="SelectTheme", class="col-sm-3 col-form-label">
              お題選択
              <span class="badge badge-info">必須</span>
            </label>
            <div class="col-sm-9">
              <%= f.collection_select :theme_id, current_end_user.challenge_themes.theme.map { |theme_id| Theme.find(theme_id) },
                :id, :title, { include_blank: "挑戦中のお題から選択" }, { id: "SelectTheme", class: "form-control text-normal" } %>
              <p><small><%= render 'layouts/error_message', f: f, attr: :theme %></small></p>
            </div>
          </div>

          <div class="field form-group row d-flex justify-content-between mb-5 px-4">
            <p class="col-sm-5 col-form-label">
              投稿画像を選択(複数でも可)
              <span class="badge badge-info">必須</span>
            </p>
            <div class="col-sm-7">
              <%= f.file_field :challenged_images, accept: "image/*", multiple: true, class: "form-control py-1 px-2" %>
              <small>※ 選択時にキャンセルを押すと画像をリセットできます</small>
              <p><small><%= render 'layouts/error_message', f: f, attr: :challenged_images %></small></p>
            </div>
          </div>

          <div class="field form-group row justify-content-between mb-5 px-4">
            <label for="inputIllustrationTitle", class="col-sm-3 col-form-label">
              タイトル
              <span class="badge badge-info">必須</span>
            </label>
            <div class="col-sm-9">
              <%= f.text_field :title, id: "inputIllustrationTitle", class: "form-control" %>
              <p><small><%= render 'layouts/error_message', f: f, attr: :title %></small></p>
            </div>
          </div>

          <div class="field form-group row justify-content-between mb-5 px-4">
            <label for="inputIllustrationDetail", class="col-sm-3 col-form-label">詳細</label>
            <div class="col-sm-9">
              <%= f.text_area :detail, id: "inputIllustrationDetail", class: "form-control", rows: "5" %>
              <p><small><%= render 'layouts/error_message', f: f, attr: :detail %></small></p>
            </div>
          </div>

          <div class="field form-group row justify-content-between mb-5 px-4">
            <label for="inputIllustrationTag", class="col-sm-3 col-form-label">
              タグ
              <span class="badge badge-info">必須</span>
            </label>
            <div class="col-sm-9">
              <%= f.text_field :illustration_tag_name, id: "inputIllustrationTag", class: "form-control" %>
              <small>※ 複数のタグを設定したいときは、タグの間を半角スペースで区切ってください</small>
              <p><small><%= render 'layouts/error_message', f: f, attr: :illustration_tag_name %></small></p>
            </div>
          </div>

          <div class="actions form-group row justify-content-center">
            <p><%= f.submit "投稿する", class: "form-control btn btn-lg btn-theme mt-3 font-weight-bold" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
