<div>
  <%= image_tag @illustration.end_user.get_profile_image(100, 100) %>
  <%= link_to end_user_path(@illustration.end_user_id) do %>
    <%= @illustration.end_user.name %>さん
  <% end %>

  <% if @illustration.end_user_id == current_end_user.id %>
    <%= link_to 'イラスト内容を編集する', edit_illustration_path(@illustration), class: "btn btn-sm btn-success" %>
  <% end %>

  <div>
    <% @illustration.challenged_images.each do |challenged_image| %>
      <%= link_to image_tag(challenged_image.variant(resize: '1000x1000').processed), url_for(challenged_image.variant(resize: '500x500').processed) %>
    <% end %>
    <p><%= @illustration.created_at %></p>
  </div>

  <p><strong><%= @illustration.title %></strong></p>
  <p>お題：<%= @illustration.theme.title %></p>
  <% @illustration_tags.each do |illustration_tag| %>
    #<%= illustration_tag %>
  <% end %>
  <p><%= @illustration.detail %></p>

  <div>
    <%= form_with model: [@illustration, @illustration_comment], local: true do |f| %>
      <%= f.text_area :comment, rows: '3', placeholder: 'コメントをここに' %>
      <%= f.submit '送信' %>
    <% end %>

    <% @illustration.illustration_comments.each do |illustration_comment| %>
      <%= image_tag illustration_comment.end_user.get_profile_image(50, 50) %>
      <%= illustration_comment.end_user.name %> さん
      <%= illustration_comment.comment %>
      <%= illustration_comment.created_at %>
      <% if illustration_comment.end_user == current_end_user %>
        <%= link_to '削除', illustration_illustration_comment_path(illustration_comment.illustration, illustration_comment), method: :delete, class: "btn btn-sm btn-secondary" %>
      <% end %>
    <% end %>
  </div>
</div>