<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-8 mx-auto">
      <div class="my-3 text-center">
        <h3 class="font-weight-bold mb-4">お題を編集する</h3>
      </div>

      <div class="bg-form rounded-lg px-4 py-4 pt-5">
        <%= form_with model: @theme, local: true do |f| %>
          <div class="field form-group row justify-content-between mb-5 px-4">
            <label for="inputTitle", class="col-sm-2 col-form-label">
              題名
              <span class="badge badge-info">必須</span>
            </label>
            <div class="col-sm-10">
              <%= f.text_field :title, id: "inputTitle", class: "form-control" %>
              <p><small><%= render 'layouts/error_message', f: f, attr: :title %></small></p>
            </div>
          </div>

          <div class="field form-group row justify-content-between mb-5 px-4">
            <label for="inputDetail", class="col-sm-2 col-form-label">
              詳細
            </label>
            <div class="col-sm-10">
              <%= f.text_area :detail, id: "inputDetail", class: "form-control", rows: "5" %>
              <p><small><%= render 'layouts/error_message', f: f, attr: :detail %></small></p>
            </div>
          </div>

          <div class="field form-group row justify-content-between mb-5 px-4">
            <label for="inputTag", class="col-sm-2 col-form-label">
              タグ
              <span class="badge badge-info">必須</span>
            </label>
            <div class="col-sm-10">
              <%= f.text_field :theme_tag_name, id: "inputTag", class: "form-control" %>
              <small>※ 複数のタグを設定したいときは、タグの間を半角スペースで区切ってください</small>
              <p><small><%= render 'layouts/error_message', f: f, attr: :theme_tag_name %></small></p>
            </div>
          </div>

          <div class="field form-group mb-3 px-4">
            <p class="col-form-label">追加したい参照画像を選択(複数でも可)</p>
            <div>
              <%= f.file_field :reference_images, accept: "image/*", multiple: true, class: "form-control py-1 px-2" %>
              <small>※ 選択時にキャンセルを押すと追加したい画像をリセットできます</small>
              <p><small><%= render 'layouts/error_message', f: f, attr: :reference_images %></small></p>
              <% if @theme.reference_images.attached? %>
                <p class="mt-5 mb-4">投稿済みの画像(削除したい画像にはチェックを入れてください)</p>
                <div class="d-flex flex-wrap">
                  <% @theme.reference_images.each do |reference_image| %>
                    <% next if reference_image.new_record? %>
                    <div class="mx-2">
                      <%= f.check_box :reference_image_ids, { multiple: true, class: "mr-3" }, reference_image.id, false %>
                      <label for="theme_reference_image_ids_<%= reference_image.id %>">
                        <%= image_tag reference_image.variant(resize_to_fill: [250, 250]).processed, class: "mr-3 mb-3" %>
                      </label>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="actions form-group row justify-content-center">
            <div><%= f.submit "変更を保存する", class: "form-control btn btn-lg btn-theme mt-4 font-weight-bold" %></div>
          </div>

          <div class="text-center mt-3 pb-4">
            <p><%= link_to '編集をやめる', theme_path(@theme), class: "btn btn-lg btn-secondary font-weight-bold mb-5" %></p>
            <p><%= link_to '削除する', withdraw_theme_path(@theme), method: :patch, "data-confirm" => "本当に削除しますか？
              \n現在挑戦されている方がいるかもしれません。", class: "text-link" %><p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
