<h1>お題を投稿する</h1>
<% if @theme.errors.present? %>
  <% @theme.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>
<div>
  <%= form_with model: @theme, local: true do |f| %>
    <div>
      <label for="inputTitle", class="mb-2">題名</label>
      <%= f.text_field :title, id: "inputTitle", class: "form-control" %>
    </div>
    <div>
      <label for="inputDetail", class="mt-3 mb-2">詳細</label>
      <%= f.text_area :detail, id: "inputDetail", class: "form-control" %>
    </div>
    <div>
      <label for="inputTag", class="mt-3 mb-2">タグ</label>
      <%= f.text_field :theme_tag_name, id: "inputTag", class: "form-control" %>
    </div>
    <div>
      <p>参照画像選択</p>
      <p>ファイル複数選択：</p>
      <%= f.file_field :reference_images, accept: "image/*", multiple: true %>
    </div>
    <%= f.submit '投稿する', class: "btn btn-success my-3" %>
  <% end %>
</div>
