<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-8 mx-auto">
      <div class="bg-form rounded p-3">
        <div class="d-flex justify-content-between">
          <div class="bg-form-2 p-2 d-flex rounded align-self-center">
            <%= image_tag @theme.end_user.get_profile_image(50, 50), class: "rounded-circle align-self-center" %>
            <%= link_to end_user_path(@theme.end_user), { class: "align-self-center pl-2" } do %>
              <span class="h3">
                <strong><%= @theme.end_user.name %> </strong>さん
              </span>
            <% end %>
          </div>

          <div class="py-3 align-self-center">
            <% if @theme.end_user_id == current_end_user.id %>
              <%= link_to 'お題内容を編集する', edit_theme_path(@theme), class: "text-link" %>
            <% end %>
          </div>
        </div>

        <div class="px-3">
          <div class="d-flex mt-5 h4 mx-3">
            <p>お題： </p>
            <p class="ml-4"><strong><%= @theme.title %></strong></p>
          </div>
          <p class="border-bottom border-white"></p>

          <p class="m-3"><%= @theme.detail %></p>

          <div class="mt-4 mb-3 mx-3">
            <% @theme_tags.each do |theme_tag| %>
              <%= link_to search_tag_homes_path(title: theme_tag), method: :get do %>
                <span class="text-link mr-2">#<%= theme_tag %></span>
              <% end %>
            <% end %>
          </div>

          <div class="mt-4 mb-3 mx-3">
            <% if @theme.reference_images.attached? %>
              <p class="mb-2">参照画像</p>
              <div class="px-2">
              <% @theme.reference_images.each do |reference_image| %>
                <%= link_to image_tag(reference_image.variant(resize_to_fill: [200, 200]).processed), url_for(reference_image), class: "mr-1" %>
              <% end %>
              </div>
            <% end %>
          </div>

          <div class="mt-5 mb-3 mx-3 d-flex justify-content-between">
            <p class="align-self-end"><%= @theme.created_at %> 投稿</p>
            <div>
            <% if @theme.theme_challenged_by?(current_end_user) %>
              <p class="">
                <%= link_to '挑戦中です！(キャンセルは再クリック)', theme_challenge_theme_path(@theme), method: :delete, class: "btn btn-secondary col" %>
              </p>
            <% else %>
              <p class="">
                <%= link_to 'このお題に挑戦する！', theme_challenge_theme_path(@theme), method: :post, class: "btn btn-theme col" %>
              </p>
            <% end %>

              <%= link_to 'このお題に挑戦したイラストを見る', challenged_image_theme_path(@theme), class: "btn btn-sub mb-3 col" %>
            </div>
          </div>
        </div>
      </div>

      <div class="my-4 px-3">
        <%= form_with model: [@theme, @theme_comment], local: true do |f| %>
          <div class="d-flex mb-5 justify-content-between">
            <%= image_tag current_end_user.get_profile_image(50, 50), class: "rounded-circle align-self-center" %>
            <%= f.text_area :comment, rows: '2', placeholder: 'ここにコメントを入力', class: "form-control col-sm-9 mx-2 align-self-center" %>
            <%= f.submit '送信', class: "btn btn-theme col-sm-1 align-self-center" %>
          </div>
        <% end %>

        <% @theme.theme_comments.each do |theme_comment| %>
          <div class="d-flex align-items-center mb-2 mx-3">
            <%= link_to end_user_path(theme_comment.end_user) do %>
              <%= image_tag theme_comment.end_user.get_profile_image(50, 50), class: "rounded-circle mr-3" %>
            <% end %>
            <div class="col-sm-10">
              <p class="mb-0"><small><%= theme_comment.end_user.name %> さん</small></p>
              <p><%= theme_comment.comment %><p>
            </div>
            <% if theme_comment.end_user == current_end_user %>
              <%= link_to '削除', theme_theme_comment_path(theme_comment.theme, theme_comment), method: :delete, class: "btn btn-sm btn-secondary ml-auto" %>
            <% end %>
          </div>
          <p class="border-bottom border-white"></p>
        <% end %>
      </div>
    </div>
  </div>
</div>