<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-8 mx-auto">
      <div class="mt-4 mb-3 text-center">
        <p class="mb-5"><%= image_tag('logo_bg_none2.png') %></p>
        <p class="btn-sub btn-lg font-weight-bold">ログイン画面</p>
      </div>
      <div class="py-3">
        <%= form_with model: @end_user, url: end_user_session_path, local: true do |f| %>
          <div class="field py-3 form-group row justify-content-between">
            <label class="col-sm-3 col-form-label" for="inputEmail">メールアドレス</label>
            <div class="col-sm-8">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "inputEmail",
                placeholder: "メールアドレス" %>
            </div>
          </div>

          <div class="field py-3 form-group row justify-content-between">
            <label class="col-sm-3 col-form-label" for="inputPassword">パスワード</label>
            <div class="col-sm-8">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "inputPassword",
                placeholder: "半角英数字・記号のみ入力" %>
            </div>
          </div>

          <div class="actions form-group row justify-content-center">
            <p><%= f.submit "ログイン", class: "form-control btn btn-lg btn-sub mt-3 font-weight-bold d-flex" %></p>
          </div>
        <% end %>

        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>