<!DOCTYPE html>
<html>
  <head>
    <title>Admin - オダボード</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a8ee063013.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column bg-color">
    <header>
      <% if admin_signed_in? %>
        <div>
          <div>
            <%= link_to 'お題・イラスト', theme_and_illustration_admin_homes_path, method: :get, class: "btn btn-success mb-3" %>
            <%= link_to 'コメント', comment_admin_homes_path, method: :get, class: "btn btn-success mb-3" %>
            <%= link_to 'ユーザー', end_users_admin_homes_path, method: :get, class: "btn btn-success mb-3" %>
          </div>

          <div class="search_form">
            <%= form_with url: search_admin_homes_path, method: :get, local: true do |f| %>
              <div class="input-group">
                <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="キーワードを入力" name="title">
                <span class="input-group-btn input-group-append">
                    <button type="submit" id="btn-search" class="btn btn-secondary">検索</button>
                </span>
              </div>
            <% end %>
          </div>

          <%= link_to 'ログアウトする', destroy_admin_session_path, method: :delete %>
        </div>
      <% end %>
    </header>
    <main>
      <%= notice %>
      <%= yield %>
    </main>
    <footer>
      <p>© pororonron</p>
    </footer>
  </body>
</html>
