<!DOCTYPE html>
<html>
  <head>
    <title>オダボード</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a8ee063013.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<%= javascript_pack_tag 'style', 'data-turbolinks-track': 'reload' %>-->
  </head>

  <body class="d-flex flex-column bg-color">
    <header>
      <% if end_user_signed_in? %>
        <div>
          <div>
            <%= link_to "<<<<<<<<<<<<お題・イラスト一覧", root_path %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                投稿する
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "お題", new_theme_path, class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to "イラスト", new_illustration_path, class: "dropdown-item" %>
                </li>
              </ul>
            </div>

            <div>
              <%= link_to end_user_path(current_end_user) do %>
                <%= image_tag current_end_user.get_profile_image(50, 50) %>
                <span>マイページ</span>
              <% end %>
            </div>

          </div>

          <div class="search_form">
            <%= form_with url: search_homes_path, method: :get, local: true do |f| %>
              <%= f.text_field :title %>
              <%= f.submit "検索する", class: "btn btn-primary" %>
            <% end %>
          </div>
          <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete %>
        </div>
      <% end %>
    </header>
    <main>
      <%= notice %>
      <%= yield %>
    </main>
    <footer>
      <div class="text-center mt-5">
        <p>© pororonron</p>
      </div>
    </footer>
  </body>
</html>
